@import 'heinlein/heinlein';
@import 'combatmode';

$kuler-left: #4C1A21;
$kuler-middle-left: #D48893;
$kuler-middle: #CC4559;
$kuler-middle-right: #4C181F;
$kuler-right: #993442;
$whitish: #ccc;
$blackish: #222;

html, body, div, canvas {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  height: 100%;
}

@mixin dropshadow ($shadowcolor) {
  box-shadow: 10px 10px 5px 0 rgba(red($shadowcolor), green($shadowcolor), blue($shadowcolor), 1);

}

.login {
	@include make-col-ready();
	@include make-col(4);
	@include make-col-offset(4);

  margin-top: 15px;

  border-radius: 15px;
  background-color: $kuler-middle;
  padding: 25px;

  text-align: center;

  @include dropshadow($kuler-middle-right);
}

.navbar {
  background-color: $kuler-right;
}

.navbar-default .navbar-brand {
  color: $whitish;
}

.navbar-default .navbar-nav {

  li {
	a {
	  color: $whitish;
	}
  }

  .dropdown {
	background-color: $kuler-right;

	li {
	  a {
		color: $blackish;
	  }
	}
  }
}

.item {
  @include dropshadow($kuler-left);

  background-color: $kuler-middle-left;

  margin-top: 15px;
  padding: 25px;

  @include make-col(2);
  @include make-col-offset(1);

  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  height: 100%;
  display: inline-block;
  border: 0;
  background: none;
}

.channelicon {
  max-width: 48px;
}

html {
  margin: 0;
}

body.mapview {
  margin: 0;
}

h2 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.navbar {
	margin-bottom: 2em;
}

.base--container {
  @include make-col-offset(3);
  @extend .row;
}

.base--panel {
  @include make-col(6);
  @include make-col-offset(3);

}

.areamarker {
  .ui-resizable-handle {
	@extend .clearfix;
	min-width: 5px !important;
	min-height: 5px !important;
  }
}

.img-token {
  @extend .rounded-circle;
  border: 1px solid #000 !important;
  max-width: 40px;
}

.legal {
  font-size: 6pt;
  text-align: center;
}

.mapcanvas {
  background-image: url('../img/fog-of-war.png');
}

.smalltext {
  font-size: smaller;
}

.modal-dialog {
	width: 80% !important;
	max-width: 80% !important;
	overflow-y: initial !important
}

.modal-body {
	min-height: 50% !important;
	max-height: 80% !important;
	overflow-y: scroll !important;
}

#doorbell {
	z-index: 4;
	position: fixed;
	min-width: 80%;
	width: 80%;
	min-height: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	text-align: center;
	font-size: 96pt;
	color: #ff0000;
}

.facemode {
  z-index: 3;
  position: fixed;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;

  #fullscreen {
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	height: 100%;

	.face {
	  min-width: 100%;
	  width: 100%;
	  min-height: 100%;
	  height: 100%;
	}

	#fs {
	  position: fixed;
	  top: 0;
	  margin-left: auto;
	  margin-right: auto;
	}
  }

  #split {
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	height: 100%;

	.face {
	  min-width: 50%;
	  width: 50%;
	  min-height: 100%;
	  height: 100%;
	}

	#left {
	  position: fixed;
	  left: 0;
	  top: 0;
	}

	#right {
	  position: fixed;
	  left: 50%;
	  top: 0;
	}
  }

  #quartered {
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	height: 100%;

	.face {
	  min-width: 50%;
	  width: 50%;
	  min-height: 50%;
	  height: 50%;
	}

	#topleft {
	  position: fixed;
	  left: 0;
	  top: 0;
	}

	#topright {
	  position: fixed;
	  left: 50%;
	  top: 0;
	}

	#bottomleft {
	  position: fixed;
	  left: 0;
	  top: 50%;
	}

	#bottomright {
	  position: fixed;
	  left: 50%;
	  top: 50%;
	}
  }

  img {
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
}
